.wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.menu {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    padding: 4% 0 0 0;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
}

.menu ul {
    display: block;
    text-align: center;
}

.menu li {
    display: inline;
    margin-left: 80px;
}

.menu li:first-child {
    margin-left: 0px;
}

.menu a {
    text-decoration: none;
    color: rgb(98, 98, 98);
}

.menu a:hover {
    color: #0099ff;
}

.left_column {
    width: 420px;
    float: left;
}

.left_column figure {
    margin-left: 0;
}

.right_column {
    width: 420px;
    float: right;
}

.right_column figure {
    margin-left: 0;
}

figcaption {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 25px;
}

h2 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(98, 98, 98);
    line-height: 1.2;
}

.text {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
    margin-bottom: 60px;
}